[submodule "kos"]
	path = tools/kos
	url = https://github.com/KallistiOS/KallistiOS 
[submodule "kos-ports"]
	path = tools/kos-ports
	url = https://github.com/KallistiOS/kos-ports
[submodule "tools/dcload-serial"]
	path = tools/dcload-serial
	url = git://git.code.sf.net/p/cadcdev/dcload-serial
[submodule "tools/dcload-ip"]
	path = tools/dcload-ip
	url = git://git.code.sf.net/p/cadcdev/dcload-ip
[submodule "tools/CubicVR"]
	path = tools/CubicVR
	url = git@github.com:Drylm/CubicVR.git
[submodule "tools/libs/CubicVR"]
	path = tools/libs/CubicVR
	url = git@github.com:Drylm/CubicVR.git
