[submodule "kos"]
	path = tools/kos
	url = https://github.com/Bhaal22/KallistiOS.git
[submodule "kos-ports"]
	path = tools/kos-ports
	url = https://github.com/Bhaal22/kos-ports.git
[submodule "tools/dcload-serial"]
	path = tools/dcload-serial
	url = git://git.code.sf.net/p/cadcdev/dcload-serial
