[submodule "kos"]
	path = kos
	url = http://git.code.sf.net/p/cadcdev/kallistios
[submodule "kos-ports"]
	path = kos-ports
	url = git://git.code.sf.net/p/cadcdev/kos-ports
[submodule "tools/dcload-serial"]
	path = tools/dcload-serial
	url = git://git.code.sf.net/p/cadcdev/dcload-serial
